<!--The content below is only a placeholder and can be replaced.-->

<div class="parent-container">
    <app-home></app-home>
    <div _ngcontent-ami-c0="" class="copyright">© Copyright <a _ngcontent-ami-c0="" href="https://www.linkedin.com/in/dominik-szyja-b17111153/" target="_blank">Dominik Szyja</a></div>
</div>


<router-outlet></router-outlet>