/* You can add global styles to this file, and also import other style files */

@import "~normalize.css";
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.parent-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    margin: 2em 0 1em;
}

p {
    margin-bottom: 2em;
    line-height: 1.65;
}

.copyright {
    text-align: right;
    padding-top: 45px;
    a {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        position: relative;
        display: inline-block;
        padding-bottom: 1px;
    }
}