.row {
    display: flex;
    flex-flow: row wrap;
}

.column-half {
    flex-basis: 50%;
    max-width: 50%;
    width: 100%;
}

.links,
.pagination {
    span,
    li {
        cursor: pointer;
        font-weight: 300;
        line-height: 20px;
        &.active,
        &:hover {
            font-weight: 400;
            color: #175BCE;
            border-color: #175BCE;
        }
        &.active {
            cursor: default;
        }
    }
}

.links {
    padding-left: 1.2em;
}

.text-rotation {
    transform: rotate(180deg);
    display: block;
    text-align: center;
}

.loading-indicator {
    position: absolute;
}

.pagination {
    span {
        display: inline-block;
        margin: 0 5px;
        padding: 9px 14px;
        border: 1px solid #333;
    }
}

.active-image {
    object-position: center;
    object-fit: cover;
    border-radius: 60pt;
    &.active {
        border-radius: 0;
    }
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media all and (max-width: 800px) {
    .column-half {
        flex-basis: 100%;
        max-width: 100%;
        padding: 20px 0;
    }
}