<div class="row">
    <div class="column-half first">
        <p> <span class="text-rotation">Welcome Back!</span></p>
        <p *ngIf="isLoading" class="loading-indicator">Loading....</p>
        <ul class="links" [ngStyle]="{'min-height': pageSize ? pageSize * 20 + 'px' : auto }">
            <ng-container *ngIf="!isLoading">
                <li *ngFor="let image of imageData" (click)="activeImage = image;" [ngClass]="{'active': activeImage && activeImage.id === image.id}">
                    <a>{{ image.title }}</a>
                </li>
            </ng-container>

        </ul>
        <div class="pagination" *ngIf="pagination">
            Page: <span class="active">{{ pageIndex }}</span>
            <span *ngFor="let page of pagination" (click)="onPage(page.params)">
                {{ page.name }}
            </span>
        </div>
    </div>
    <div class="column-half second">

        <img *ngIf="activeImage" class='active-image' [src]="activeImage.thumbnailUrl" [alt]="activeImage.title" [appImageHover]="activeImage">

    </div>
</div>